server:
  port: 8081
  forward-headers-strategy: framework
  error:
    whitelabel:
      enabled: false

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  application:
    name: SCAN-SERVICE
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres-db:5432/sentinel_db}
    username: ${SPRING_DATASOURCE_USERNAME:admin}
    password: ${SPRING_DATASOURCE_PASSWORD:admin}
  jpa:
    hibernate:
      ddl-auto: update 
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/

virustotal:
  api:
    key: ${VT_API_KEY:}

resilience4j:
  circuitbreaker:
    instances:
      virusTotalService:
        sliding-window-size: 6
        failure-rate-threshold: 50
        wait-duration-in-open-state: 15s
        permitted-number-of-calls-in-half-open-state: 2
        ignore-exceptions:
          - feign.FeignException.NotFound